.footer {
	text-align: center;
	@include noise-background;
	background-color: $black;
}

.footer .background {
	background: #fd01e9;
    background: linear-gradient(197deg,rgba(253,1,233,.6),rgba(185,2,253,.65) 20%,rgba(108,0,239,.6) 40%,rgba(108,0,239,.35) 60%,rgba(15,16,35,.23) 80%);
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 0;
	padding: $step-6;
}

.footer a,
.footer span,
.footer div {
	color: $white;
}

.lets-meet {
	font-size: $step-4;
}

.lets-meet img{
	width: 300px;
    animation: reveal-reverse 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0s;
}

.footer-main {
	padding-top: 30px;
}

hr {
	position: relative;
}

.footer-main hr {
	border: none;
	height: 1px;
	width: 600px;
	border: 0;
	height: 1px;
	margin: auto;
	&::after {
		background: #fd01e9;
		background: linear-gradient(90deg,
				#fd01e9,
				rgba(185, 2, 253, 0.7) 25%,
				rgba(108, 0, 239, 0.6) 50%,
				#6c00ef);
		bottom: 0;
		content: "";
		height: 2px;
		left: 0;
		position: absolute;
		width: 100%;
	}
}

.copyright {
	font-size: $step-0;
	padding-top: $step-1;
	padding-bottom: $step-1;
}

.mail {
	font-size: $step-1;
	display: block;
	padding: 0 0 1.6rem;
	opacity: 0.8;
}

.social {
	padding: 1.6rem 0.5rem;
}

.social a {
	padding: 0 10px;
}

.social .icon {
	width: 30px;
	height: 30px;
	margin-top: 10px;
	opacity: 0.8;
}


@media screen and (max-width: 899px) {
	.footer-main hr {
		width: 250px;
	}

	.mail {
		font-size: $step-1;
	}

	.social img {
		width: 18px;
	}

	.mail {
		padding: 0 0 0.5rem;
	}

	.social {
		padding: 0.5rem 3rem;
	}

	.social .icon {
		width: 24px;
		height: 24px;
	}

	.lets-meet {
		font-size: 13vw;
	}
	.lets-meet img{
		width: 250px;
		animation: reveal-reverse 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0s;
	}

	.copyright {
		font-size: 12px;
		padding-left: 2rem;
		padding-right: 2rem;
	}
}