.nav {
	z-index: 50;
	width: 100%;
	height: 100vh;
	position: fixed;
	@include noise-background;
	background-color: $black;

	li {
		float: left;
		clear: left;
		cursor: pointer;
		margin-top: $step-1;
	}

	h2 {
		font-family: 'Fugaz One', cursive;
		text-transform: uppercase
	}

	a {
		@include text-stroke;
		transition: .3s ease;
	}

	a:hover {
		@include text-stroke-hover;
	}

	li:hover a {
		padding-left: $step-1;
	}
}

.nav .background {
	background-image: linear-gradient(90deg,#20014b,#400095);
    height: 100%;
    position: absolute;
    width: 100%;
	display: flex;
	align-items: center;
	padding: clamp(1rem, -0.875rem + 8.333vw, 8rem);
}

@media only screen and (max-width: 899px) {
	.nav {
		@include center-content;
		padding-left: 0;
		text-align: left !important;

		h2 {
			font-size: 4rem;
			line-height: 1;
		}

		li {
			float: none;
			clear: none;
			line-height: $line-height-lg;
		}

		li:hover a {
			padding-left: 0;
		}
	}
	.nav .background {
		justify-content: flex-start;
	}
}
