.nav {
	z-index: 50;
	width: 100%;
	height: 100vh;
	position: fixed;
	@include noise-background;
	background-color: $black;

	li {
		float: left;
		clear: left;
		cursor: pointer;
		margin-top: $step-1;
	}

	h1 {
		font-family: $font-family-heading;
	}

	a {
		@include text-stroke;
		transition: .3s ease;
		font-family: 'Fugaz One', cursive;
	}

	a:hover {
		@include text-stroke-hover;
	}

	li:hover a {
		padding-left: $step-1;
	}
}

.nav .background {
	background: aqua;
    background: linear-gradient(197deg,rgba(1, 253, 232, 0.6),rgba(2, 236, 253, 0.65) 20%,rgba(0, 223, 239, 0.6) 40%,rgba(0, 203, 239, 0.35) 60%,rgba(15,16,35,.23) 80%);
    height: 100%;
    position: absolute;
    width: 100%;
	display: flex;
	align-items: center;
	padding-left: clamp(1rem, -0.875rem + 8.333vw, 8rem);
}

@media only screen and (max-width: 899px) {
	.nav {
		@include center-content;
		padding-left: 0;

		li {
			float: none;
			clear: none;
			line-height: $line-height-lg;
		}

		li:hover a {
			padding-left: 0;
		}
	}
	.nav .background {
		justify-content: center;
	}
}
