.advertise-image {
    width: 100%;
    height: 80%;
    object-fit: contain;
}

.advertise h5 {
    font-family: $font-family-main;
    margin-bottom: 20px;
    font-weight: normal;
}
.advertise p {
    margin-bottom: 3rem;
    font-weight: 500;
}

@media (max-width: 599px) {
    .advertise p{
        margin-bottom: 5rem;
    }
}