
@font-face {
	font-family: 'Fugaz One';
	src: url("../../public/fonts/FugazOne-Regular.ttf");
}
@font-face {
	font-family: 'Cardo';
	src: url("../../public/fonts/Cardo-Regular.ttf");
}
@font-face {
	font-family: 'Yeseva One';
	src: url("../../public/fonts/YesevaOne-Regular.ttf");
}

